body {
  background-color: #0b0b0b;
  color: #f2f2f2;
  font-family: 'Creepster', cursive;
  margin: 0;
  text-align: center;
}

header {
  background-color: #1a1a1a;
  padding: 15px;
}

nav a {
  color: #ff004c;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-shadow: 0 0 8px #ff004c;
}

.hero {
  margin-top: 50px;
}

.btn {
  background-color: #ff004c;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #b3003a;
  box-shadow: 0 0 10px #ff004c;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.card {
  background-color: #1c1c1c;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 10px #111;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background: #111;
  padding: 10px;
  font-size: 0.9em;
}
